<!doctype html>
<html lang="en">
{% load static %}
 <div class="row featurette">
      <div class="col-md-7 order-md-2">
      {% for prof_exp in prof_exps.all %}
        <h2 class="featurette-heading">{{prof_exp.title}} <span class="text-muted"></span></h2>
      <p class="lead">{{prof_exp.summary}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">
    {% endfor %}
      <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
  </footer>
</main>
<script src="{% static 'jquery-3.5.1.min.js'%}" ></script>
<script src="{% static 'popper.min.js'%}" ></script>
<script src="{% static 'bootstrap-4.5.3-dist/js/bootstrap.min.js'%}" ></script>

</html>
